body {
    text-align: center;
    color:rgb(100, 100, 100);
    margin: 0;
    padding: 0;
    background-color: bisque;
  }
  

  h1 {
    margin-top: 20px;
  }
  

  #numberInput, #generateButton {
    margin-top: 10px;
  }
  

  #resultContainer {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }